body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}


a{
    color: aliceblue;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    
}

.container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
}


